In [1]:
import pandas as pd
from IPython.display import display

data = pd.read_csv(r"C:\Users\Mystardious\PycharmProjects\scikit_learn_classifier\data\NOTEEVENTS.csv.gz", nrows=1000, compression=r"gzip", error_bad_lines=False)

display(data)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...
...,...,...,...,...,...,...,...,...,...,...,...
995,1158,15198,137838,2184-10-21,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2184-10-14**] Discha...
996,1159,2712,198266,2101-02-15,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2101-2-10**] ...
997,1160,2712,157537,2103-07-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2103-7-17**] ...
998,1161,18511,123903,2191-03-03,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2191-2-23**] ...
999,1162,76558,186116,2157-12-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2157-12-1**] ...

In [2]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from nltk.tokenize import word_tokenize
import dataread
import classifierutils
import pandas as pd
from sklearn.utils import shuffle

"""Variables"""

headers = ['allergies', 'family_history', 'history_illness', 'social_history']

"""Import data"""

# header --> [header, original, tokenized, tokenized_labelled]
header_corpus = {}

for header in headers:
    header_corpus[header] = {}
    header_corpus[header]['label'] = header
    header_corpus[header]['original'] = pd.Series(
        dataread.read_file(header+'.txt')
    )
    temp = classifierutils.corpus_preprocess(
        header_corpus[header]['original'],
        header
    )
    header_corpus[header]['labelled'] = temp[0]
    header_corpus[header]['labelled_tokenised'] = temp[1]

mixed_labelled = pd.DataFrame()
for value in header_corpus.values():
    mixed_labelled = mixed_labelled.append(value['labelled'])
    
mixed_labelled_tokenised = pd.DataFrame()
for value in header_corpus.values():
    mixed_labelled_tokenised = mixed_labelled_tokenised.append(value['labelled_tokenised'])
# mixed_labelled_tokenised = mixed_labelled_tokenised.

mixed_labelled_tokenised =  mixed_labelled_tokenised.reset_index(drop=True)
mixed_labelled =  mixed_labelled.reset_index(drop=True)

mixed_labelled = shuffle(mixed_labelled)
mixed_labelled_tokenised = shuffle(mixed_labelled)

print(mixed_labelled_tokenised)
print(mixed_labelled)

                                                    TEXT           HEADER
18093                    kidney disease father hx mi age   family_history
4262              patient recorded known allergies drugs        allergies
33450  year old male type diabetes years end stage re...  history_illness
19182  family history premature coronary artery disea...   family_history
42698  mr yo gentleman dementia pvd diastolic chf afi...  history_illness
...                                                  ...              ...
26028                                                 na   family_history
11816                               known drug allergies        allergies
5435                                known drug allergies        allergies
2519                                          omeprazole        allergies
43688  mr year old male known history coronary artery...  history_illness

[59795 rows x 2 columns]
                                                    TEXT           HEADER
28730  brief yo woman history svt long r p followed y...  history_illness
8709                     hydrochlorothiazide allopurinol        allergies
58610                  active lives alone golfs tob etoh   social_history
21444                                         none noted   family_history
17929                                    noncontributory   family_history
...                                                  ...              ...
52262  patient drinks one case beer per day pack year...   social_history
47630  lives husband home assissts adls prior hospita...   social_history
45144  yo male metastatic esophageal carcinoma curren...  history_illness
22487                                   cad htn dm sprue   family_history
13732            iv dye iodine containing contrast media        allergies

[59795 rows x 2 columns]

In [2]:
# from corpus import *
# from IPython.display import display
# import dataread

# corpus = Corpus()
# samples = dataread.read_samples(5)
# for sample in samples:
#     corpus.add_string(sample)

# display(corpus.data)